@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');


.hdrText {
  margin-top: 20vh;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.subHeaderText {
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
}